* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body:not(.about-us) {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#ffffff48, #000000a4),
    url(../images/fabrics-roll.jpg);
  height: 900px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.justify-content-between {
  justify-content: space-between;
}
.align-content-center {
  align-items: center;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul li {
  list-style: none;
}
img{
    display: block;
    width: 100%;
}

/* header section start */
header .navbar {
  width: 100%;
  background-color: #00000042;
}

header .navbar .logo {
  margin: 1.5rem;
  font-weight: 900;
  color: #fff;
}

header .navbar .logo p {
  font-size: 42px;
  line-height: 0.5;
}

header .navbar .logo p span {
  font-size: 21px;
}

header .navbar nav ul li {
  padding: 0 1rem;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
header .navbar nav ul li a i {
  font-size: 21px;
}
header .navbar nav ul li a:hover {
  color: #b81347;
}

header .navbar .free-quote a {
  background-color: #da2961;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
}
header .navbar .free-quote i {
  color: #fff;
  font-size: 26px;
  margin: 5px;
}
/* header section end */

/* hero section start */
.hero .hero-content {
  color: #fff;
  transform: translate(-200px, 200px);
  text-align: right;
  position: relative;
}
.hero .hero-content h1 {
  font-size: 52px;
  font-weight: 800;
}

.hero .hero-content .btn a:first-child {
  padding: 1rem 1.5rem;
  margin-right: 5px;
  background-color: #da2961;
  color: #fff;
  font-weight: 700;
}
.hero .hero-content .btn a:last-child {
  padding: 1rem 1.5rem;
  background-color: #fff;
  color: #da2961;
  font-weight: 700;
}

.arrow a:first-child{
    background-color: #fff;
    color: #da2961;
    padding: 1rem;
    border-radius: 5px;
    font-size: 28px;
    position: absolute;
    transform: translate(-200px,50px);
}

.arrow a:last-child{
    background-color: #fff;
    color: #da2961;
    padding: 1rem;
    border-radius: 5px;
    font-size: 28px;
    position: absolute;
    transform: translate(-200px,150px);
}

.about-us{
    background-color: #fff;
    height: 800px;
    transform: translate(-0,500px);
}
.about-us-images{
    align-self: center;
    position: relative;
}
.about-us img:first-child{
    width: 500px;
    border-radius: 10px;
    position: absolute;
    transform: translate(250px,100px);
}
.about-us img:nth-child(2){
    width: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 9;
    transform: translate(200px,450px);
}
.about-us img:last-child{
    width: 250px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: 9;
    transform: translate(600px,200px);
}

.about-us .about-us-content{
    margin: 3rem 0;
    padding: 2rem;
}

.about-us .about-us-content span{
    color: #da2961;
    padding: 3rem 0;
    font-weight: 700;
}

.about-us .about-us-content h1{
    font-size: 42px;
    font-weight: 800;
}
.about-us .about-us-content p{
    color: #797878;
    font-size:18px;
    font-weight: 500;
}

.about-us .about-experience{
    margin: 3rem 0;
    position: relative;
}
.about-us .about-experience h2{
    color: #da2961;
    font-size: 48px;
    margin-bottom: 1rem;
}

.about-us .about-experience ul li{
    padding: 5px 0;
}
.about-us .about-experience ul li i{
    color: #da2961;
    padding: 0 1rem;
}
.about-us .about-experience a{
    padding: 1rem;
    margin: 1rem 0;
    background-color: #da2961;
    color: #fff;
    font-weight: 600;
}
/* hero section end */
